{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Ahmadjonov Subhonjon Shaxsiy Blog sayti</title>
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Preface Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <!-- webfonts -->
    <link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <!-- webfonts -->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
</head>
<body>
<div id="home" class="header">
    <div class="container">
        <!-- top-hedader -->
        <div class="top-header">
            <!-- /logo -->
            <!--top-nav---->
            <div class="top-nav">
                <div class="navigation">
                    <div class="logo">
                        <h1 style="font-size: 30px"><a href="{% url 'index' %}"><span>S</span>Ahmadjonov</a>
                        </h1>
                    </div>
                    <div class="navigation-right">
                        <span class="menu"><img src="{% static 'images/menu.png' %}" alt=" "/></span>
                        <nav class="link-effect-3" id="link-effect-3">
                            <ul class="nav1 nav nav-wil">
                                <li class="active"><a data-hover="Home" href="index.html">Home</a></li>
                                <li><a class="scroll" data-hover="About" href="#about">About</a></li>
                                <li><a class="scroll" data-hover="Services" href="#services">Services</a></li>
                                <li><a class="scroll" data-hover="Experience" href="#work">Experience</a></li>
                                <li><a class="scroll" data-hover="Portfolio" href="#port">Portfolio</a></li>
                                <li><a class="scroll" data-hover="Blog" href="#blogs">Blog</a></li>
                                <li><a class="scroll" data-hover="Contact" href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- script-for-menu -->
                        <script>
                            $("span.menu").click(function () {
                                $("ul.nav1").slideToggle(300, function () {
                                    // Animation complete.
                                });
                            });
                        </script>
                        <!-- /script-for-menu -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- /top-hedader -->
            </div>
            {% for datum in data %}
                <div class="banner-info">
                <div class="col-md-7 header-right">
                    <h1>Hi !</h1>
                    <h6>{{ datum.my_job }}</h6>
                    <ul class="address">

                        <li>
                            <ul class="address-text">
                                <li><b>NAME</b></li>
                                <li>I'M {{ datum.name }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>D.O.B</b></li>
                                <li>{{ datum.tug }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>PHONE </b></li>
                                <li>{{ datum.phone }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>ADDRESS </b></li>
                                <li>{{ datum.address }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>E-MAIL </b></li>
                                <li><a href="mailto:example@mail.com"> {{ datum.email }}</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>WEBSITE </b></li>
                                <li><a href="http://{{ datum.my_website }}">{{ datum.my_website }}</a></li>
                            </ul>
                        </li>

                    </ul>

                </div>
                <div class="col-md-5 header-left">
                    <img src="{{ datum.photo.url }}" alt="">
                </div>
            {% endfor %}

            <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
<!-- about -->
<div id="about" class="about">
    <div class="col-md-6 about-left">
        <div id="owl-demo1" class="owl-carousel owl-carousel2">
            {% for datum2 in data2 %}
                <div class="item">
                    <div class="about-left-grid">
                        <h2><span>{{ datum2.title }}</span></h2>
                        <p>{{ datum2.content|safe }}</p>
                        <ul>
                            <li><a class="a-btn-a scroll" href="#port">My Work</a></li>
                            <li><a class="a-btn-h scroll" href="#contact">Hire Me</a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div style='background: #1B242F;background-image:url("../static/about_image/subhonjon.2.jpg")' class="col-md-6 about-right">
    </div>
    <div class="clearfix"></div>
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                items: 1,
                lazyLoad: false,
                autoPlay: true,
                navigation: false,
                navigationText: false,
                pagination: true,
            });
        });
    </script>
    <!-- Feedback -->
    <script>
        $(document).ready(function () {
            $("#owl-demo3").owlCarousel({
                items: 1,
                lazyLoad: false,
                autoPlay: true,
                navigation: false,
                navigationText: true,
                pagination: true,
            });
        });
    </script>
</div>
<!-- /about -->
<!-- services -->
<div id="services" class="services">
    <div class="container">
        <div class="service-head one text-center ">
            <h4>WHAT I DO</h4>
            <h3>MY <span>SERVICES</span></h3>
            <span class="border two"></span>
        </div>
        {% for foo in data3 %}
            <div class="wthree_about__grids w3l-agile">
                <div class="col-md-6 wthree_about_right_grid">
                    <div class="col-xs-4 wthree_about_right_grid_left">
                        <div class="hvr-rectangle-in">
                            <i class="glyphicon glyphicon-cog"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 wthree_about_right_grid_right">
                        <h4>{{ foo.title }}</h4>
                        {{ foo.content|safe }}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}

        <!-- services-grids -->
    </div>
</div>
<!-- services -->
<!--work-experience-->
<div id="work" class="work">
    <div class="container">
        <div class="service-head text-center">
            <h4>WHAT I DID</h4>
            <h3>MY <span>EXPERIENCE</span></h3>
            <span class="border one"></span>
        </div>
        <div class="time-main w3l-agile">
            <div class="col-md-6 year-info">
                <ul class="year">
                    {% for foo in date4 %}

                        <li>{{ foo.years }}</li>

                    {% endfor %}
                    <div class="clearfix"></div>

                </ul>


            </div>
            <ul class="col-md-6 timeline">
                {% for foo1 in date4 %}
                    <li>
                        <div class="timeline-badge info"><i class="glyphicon {{ foo1.icon }}"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{ foo1.name }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p>{{ foo1.content|safe }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//work-experience-->

<!-- portfolio -->
{#<div class="portfolio" id="port">#}
{#    <div class="service-head text-center">#}
{#        <h4>MY WORKS</h4>#}
{#        <h3>MY <span>PORTFOLIO</span></h3>#}
{#        <span class="border"></span>#}
{#    </div>#}
{#    <div class="portfolio-grids">#}
{#        <script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>#}
{#        <script type="text/javascript">#}
{#            $(document).ready(function () {#}
{#                $('#horizontalTab').easyResponsiveTabs({#}
{#                    type: 'default', //Types: default, vertical, accordion#}
{#                    width: 'auto', //auto or any width like 600px#}
{#                    fit: true   // 100% fit in a container#}
{#                });#}
{#            });#}
{##}
{#        </script>#}
{#        <div class="sap_tabs">#}
{#            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">#}
{#                <ul class="resp-tabs-list">#}
{#                    <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>ALL</span></li>#}
{#                    {% for foo in date6 %}#}
{#                        <li class="resp-tab-item" aria-controls="tab_item-{{ foo.id }}" role="tab">#}
{#                            <span>{{ foo.title }}</span></li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{##}
{#                <div class="resp-tabs-container">#}
{##}
{#                    {% for foo in date5 %}#}
{#                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">#}
{#                            <div class="col-md-3 team-gd ">#}
{#                                <a href="#portfolioModal{{ foo.category_id.id }}"#}
{#                                   class="portfolio-link b-link-diagonal b-animate-go"#}
{#                                   data-toggle="modal"><img src="{{ foo.photo.url }}" alt="">#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                    {% for foo in date5 %}#}
{#                        <div class="tab-{{ foo.category_id }} resp-tab-content"#}
{#                             aria-labelledby="tab_item-{{ foo.category_id }}">#}
{#                        <div class="col-md-3 team-gd ">#}
{#                            <div class="thumb">#}
{#                                <a href="#portfolioModal{{ foo.id }}"#}
{#                                   class="portfolio-link b-link-diagonal b-animate-go"#}
{#                                   data-toggle="modal"><img src="{{ foo.photo.url }}" alt="">#}
{##}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                #}
{#                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">#}
{##}
{#                        {% for foo in date5 %}#}
{#                            <div class="col-md-3 team-gd">#}
{#                                <a href="#portfolioModal{{ foo.id }}"#}
{#                                   class="portfolio-link b-link-diagonal b-animate-go"#}
{#                                   data-toggle="modal"><img src="{{ foo.photo.url }}" alt="">#}
{#                                </a>#}
{#                            </div>#}
{#                        {% endfor %}#}
{##}
{#                        <div class="clearfix"></div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<!-- //portfolio -->
<!-- top-grids -->
<div class="blog" id="blogs">
    <div class="container">
        <div class="service-head text-center">
            <h4>BLOGS</h4>
            <h3>MY <span>BLOGS</span></h3>
            <span class="border one"></span>
        </div>
        {% for foo in data8 %}
            {% if foo.location == 'chap' %}
                <div class="news-grid">
                    <div class="col-md-6 news-img">
                        <a href="#" data-toggle="modal" data-target="#myModal{{ foo.id }}"> <img
                                src="{{ foo.image }}"
                                alt=" "
                                class="img-responsive"></a>
                    </div>
                    <div class="col-md-6 news-text">
                        <h3><a href="#" data-toggle="modal" data-target="#myModal{{ foo.id }}">{{ foo.title }}</a>
                        </h3>
                        <p>{{ foo.content | truncatechars:200|safe }}</p>
                        <a href="#" data-toggle="modal" data-target="#myModal{{ foo.id }}"
                           class="read hvr-shutter-in-horizontal">Read
                            More</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% elif foo.location == 'o`ng' %}
                <div class="news-grid">
                    <div class="col-md-6 news-text two">
                        <h3><a href="#" data-toggle="modal" data-target="#myModal{{ foo.id }}">{{ foo.title }}</a>
                        </h3>
                        <p>{{ foo.content|truncatechars:200|safe }}</p>
                        <a href="#" data-toggle="modal" data-target="#myModal{{ foo.id }}"
                           class="read hvr-shutter-in-horizontal">Read
                            More</a>
                    </div>
                    <div class="col-md-6 news-img two">
                        <a href="#" data-toggle="modal" data-target="#myModal{{ foo.id }}"> <img
                                src="{{ foo.image.url }}"
                                alt=" "
                                class="img-responsive"></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
</div>
<!-- top-grids -->
<!-- /blog-pop-->
{% for foo in data8 %}
    <div class="modal ab fade" id="myModal{{ foo.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog about" role="document">
            <div class="modal-content about">
                <div class="modal-header">
                    <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body about">
                    <div class="about">
                        <div class="about-inner">
                            <img src="{{ foo.image.url }}" alt="about"/>
                            <h4 class="tittle">{{ foo.title }}</h4>
                            <p>{{ foo.content|safe }}</p>
                            {#                                <p>Lorem ipsum dolor sit amet. Integer gravida velit quis dolor#}
                            {#                                    tristiqumsan.anteposuerit#}
                            {#                                    litterarum formas humanitatis per seacula amet Integer gravida velit. </p>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- //blog-pop-->

<!-- /header -->
<div class="footer" id="contact">
    <div class="container">
        <div class="service-head one text-center">
            <h4>CONTACT ME</h4>
            <h3>GET <span>IN TOUCH WITH ME</span></h3>
            <span class="border two"></span>
        </div>
        <div class="mail_us">
            <div class="col-md-6 mail_left">
                <div class="contact-grid1-left">
                    <div class="contact-grid1-left1">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <h4>Contact By Email</h4>
                        {% for foo in data7 %}
                            {% if foo.tpy == 'email' %}
                                <ul>
                                    <li>Mail: <a href="#">{{ foo.link }}</a>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
                <div class="contact-grid1-left">
                    <div class="contact-grid1-left1">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        <h4>Contact By Phone</h4>
                        {% for foo in data7 %}
                            {% if foo.tpy == 'phone' %}
                                <ul>
                                    <li>{{ foo.link_name }}: {{ foo.link }}</li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="contact-grid1-left">
                    <div class="contact-grid1-left1">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <h4>Looking For Address</h4>
                        <ul>
                            {% for foo in data7 %}
                                {% if foo.tpy == 'adress' %}
                                    <li>Address: {{ foo.link }}</li>
                                {% endif %}
                            {% endfor %}

                        </ul>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 mail_right">
                <form action="#" method="post">
                    {% csrf_token %}
                    <input type="text" name="name" value="Name" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Name';}" required="">
                    <input type="email" name="email" value="Email" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="text" name="phone" value="Mobile number" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
                    <textarea name="message" onfocus="this.value = '';"
                              onblur="if (this.value == '') {this.value = 'Message...';}"
                              required="">Message...</textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copy_right text-center">
            <p>&copy; 2016 Preface . All rights reserved | Design by <a href="http://w3layouts.com/"
                                                                        target="_blank">W3layouts.</a>
            </p>
            <ul class="social-icons two">
                <li><a href="#"> </a></li>
                <li><a href="#" class="fb"> </a></li>
                <li><a href="#" class="in"> </a></li>
                <li><a href="#" class="dott"> </a></li>
            </ul>
        </div>
    </div>
</div>

{% for foo in data8 %}
    <div class="portfolio-modal modal fade slideanim" id="portfolioModal{{ foo.id }}" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-content port-modal">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <div class="modal-body">
                            <h3>Image-Title</h3>
                            <img src="{{ foo.photo.url }}" width="570" height="370"
                                 class="img-responsive img-centered" alt="">
                            <p>{{ foo.content|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!--start-smooth-scrolling-->
<script type="text/javascript">
    $(document).ready(function () {
        /*
        var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
         };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!--end-smooth-scrolling-->
<!-- //for bootstrap working -->
<script src="{% static 'js/bootstrap.js' %}"></script>


</body>
</html>

